<div class="wrapper">
    <div class="background">
    </div>

    <div class="column-one">
        <p >reach me via email :
        </p>
        <a class="email-a" href="mailto:lobhasap@gmail.com">
            <p class="email" >lobhasap@gmail.com</p>
        </a>
        <br>
        <p >also available here :</p>
        <div class="hero">
            <ul class="social-links">
                <li><a href="https://github.com/lobhasap" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/lobhas-paithankar-45440b276/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="https://www.instagram.com/operacion_famosa/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://twitter.com/blackshawled" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCkbcMPLhS4wBkoBxenFYtzw" target="_blank"><i class="fab fa-youtube"></i></a></li>
            </ul>
        </div>
        <div>
        </div>
    </div>
</div>