<div class="row wrapper">
    <div class="background"></div>
    <div class="pulsate"><div #elem class="parallax"></div> </div>
    <div #elem1 class="circle shadow" [style.top]="top" [style.left]="left" ></div>
    <div class="column-one">
        <p class="pre-name"  ><span role="img" aria-label="wave" >👋</span>
            Hey! my
            name is</p>
        <div class="name">
            <p class="p-name" >Lobhas Paithankar<span class="p-name2"></span></p>
        </div>
        <div class="name">
            <p class="p-first" >I'm a [fairly decent] human from Pune, India who loves problem solving.</p>
            <p class="p-second" >I'm currently building awesome stuff at <a 
                    href="https://www.vupune.ac.in/" >Vishwakarma University</a>. you can
                find my <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" >resume here</a>.</p>
            <p class="p-third" >I go by <a href="hhttps://twitter.com/blackshawled" rel="nofollow" >@blackshawled</a> on the
                interwebs.</p>
        </div>
    </div>
    <div class="column-two">
    </div>
</div>